
<div class="container">
  <h2>Ana</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="Ana"
      [cdkDropListConnectedTo]="doneList" class="list" (cdkDropListDropped)="drop($event)">
    @for (item of Ana; track item) {
      <div class="list-item" cdkDrag>{{item}}</div>
    }
  </div>
</div>

<div class="container">
  <h2>Sonia</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="Sonia"
      [cdkDropListConnectedTo]="todoList" class="list" (cdkDropListDropped)="drop($event)">
    @for (item of Sonia; track item) {
      <div class="list-item" cdkDrag>{{item}}</div>
    }
  </div>
</div>

<div class="container">
  <h2>Toño</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="Tono"
      [cdkDropListConnectedTo]="doneList" class="list" (cdkDropListDropped)="drop($event)">
    @for (item of Tono; track item) {
      <div class="list-item" cdkDrag>{{item}}</div>
    }
  </div>
</div>

<div class="container">
  <h2>Jose Luis</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="JoseLuis"
      [cdkDropListConnectedTo]="todoList" class="list" (cdkDropListDropped)="drop($event)">
    @for (item of JoseLuis; track item) {
      <div class="list-item" cdkDrag>{{item}}</div>
    }
  </div>
</div>