<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Stephen Curry</mat-card-title>
    </mat-card-header>
    <img sizes="(max-width: 1400px) 100vw, 1400px" srcset="
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_200.webp 200w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_744.webp 744w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1134.webp 1134w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1380.webp 1380w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1400.webp 1400w" src="../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1380.webp Curry_doocs3_c_scale,w_1400.webp" alt="">
    <mat-card-content>
      <p>
        El mejor tirador de la historia
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Enviar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Stephen Curry</mat-card-title>
    </mat-card-header>
    <img sizes="(max-width: 1400px) 100vw, 1400px" srcset="
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_200.webp 200w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_744.webp 744w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1134.webp 1134w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1380.webp 1380w,
  ../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1400.webp 1400w" src="../../../assets/img/Curry_doocs3/Curry_doocs3_c_scale,w_1380.webp Curry_doocs3_c_scale,w_1400.webp" alt="">
    <mat-card-content>
      <p>
        El mejor tirador de la historia
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Enviar</button>
    </mat-card-actions>
  </mat-card>
</div>
