// stylelint-disable declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix


// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css


// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.


/* definicion de clases generales para el proyecto */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.d-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


