@each $n, $t in $size_btn {

    .btn-#{$n}{
        width: $t;
        height: $t;
    }
}
@each $n, $c in $color {
    .btn-#{$n}{
        background-color: $c;
        color: $terciary_color;
    }
}
.btn{
    @include btn( $border);

    &:hover{
        background-color: $secundary_color;
        color: $danger_color;
    }
}

.btn-2{
    @include btn( $border);

    &:hover{
        background-color: $danger_color;
        color: $info_color;
    }
}

.btn-3{
    @include btn( $border);

    &:hover{
        background-color: $info_color;
        color: $danger_color
    }
}

.btn-4{
    @include btn( $border);

    &:hover{
        background-color: $primary_color;
        color: $danger_color
    }
}
.btn_border{
    @include btn(7px);
    @include shadow(5px, 5px, rgb(21, 20, 20))
}
