*{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
}

h2{
    padding-left: 50px;
}

.borde{
  padding-left: 50px;
}

.wrapper {
    padding: 30px;
    display: flex;
  }
  
  details {
    width: 100%;
    max-width: 500px;
  }
  
  summary {
    cursor: pointer;
  }

  .barra{
    display: block;
  }

   .desplegable{
    margin-left: 50px;
   }

   .radio{
    margin-left: 10px;
   }

   form{
    padding-right: 150px;
   }
