/* Navbar */

.navbar{
    background-color: $secundary_color;
    display: flex;
    justify-content: space-between;
    a {
        color: $primary_color;
        display: block;
        text-decoration: none;
        font-size: 17px;
        padding: 14px 16px;
        &:hover{
            background-color: $primary_color;
            color: $secundary_color;
        }
        &.active{
            color: $terciary_color;
        }
    }
    .icon {display:none}
}
@media  screen and (max-width :600px) {
    .navbar{
        a.icon {
            display: block;

            }
        a:not(:first-child){display: none;}
    }
    .navbar.responsive a{
        display: block;

    }
    
}