// Paleta de colores
$primary_color: rgb(239, 215, 215);
$secundary_color : black;
$terciary_color:grey;
$info_color:blue;
$danger_color:#b00020;

// Mapa con tamaño de botones 
$size_btn:(
    sm: 40px,
    md: 80px,
    lg:100px
);

// Ejemplo de con acceder al valor de un mapa mediate su clave 
$t: map-get($size_btn,sm);

.fuente{
    font-size: $t;
}
// Mapa con colores que usaremos para los botones

$color:(
    primary:$primary_color,
    secundary:$secundary_color,
    info:$info_color,
    danger:$danger_color
);

$border: 40%;