/* Estilo para la sección de catálogo */
#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre las columnas */
}

.coche {
    flex-basis: calc(33.33% - 10px); /* Ancho de 33.33% con 10px de margen entre elementos */
    margin-bottom: 20px; /* Margen inferior entre las columnas */
    box-sizing: border-box; /* Incluye el margen en el ancho del elemento */
}

.coche ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.coche li {
    margin: 10px 0;
}

.coche img {
    width: 500px;
    height: 300px;
    
}

