.sidenav-container {
  height: 93.5%;

}

.sidenav {
  width: 200px;  
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

body{
  background-color: aqua;
  
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: chocolate;
  margin-left: 10%;
  // height: 100px;
}

p{
  padding-left: 39%;
}





