/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

//configuracion comun
html, body { height: 100%; }
body { margin: 0;  }
mat-card{
    width: 50%;
}
.row{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}
.col{
    flex:1
}
//Definir tipografia
// Configurar tipografia para el tema
/*
$my-typography: mat.define-typography-config( 
     // Specify "Comic Sans" as the default font family for all levels.
$font-family: 'Rubik',);
@include mat.typography-hierarchy($my-typography);*/

//Personalizar con SASS el tema
//Defino  mis variables de color obteniendo el color de las patelas de material
$my-basic: mat.define-palette(mat.$grey-palette, 200);
$my-primary: mat.define-palette(mat.$teal-palette, 100);
$my-accent: mat.define-palette(mat.$blue-palette, 700, 800, 600);
$my-warn: mat.define-palette(mat.$grey-palette, 800, 100, A400);

$my-theme: mat.define-light-theme((
 color: (
    basic:$my-basic,
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(
    $font-family: 'Rubik'
 ),
 density: 0,
));

@include mat.all-component-themes($my-theme);




