// Card
/*  codigo de las tarjetas */
.card {
    @include btn( $border2);
    position: relative;
    display: flex;
    flex-direction: column;
    border: 4px solid gray;

    width: 20%;
    background-color: $terciary_color;
    box-shadow: 3px 3px;
   
    padding: 1rem 1rem;
    margin: 1rem;
    justify-content: space-around;
    align-items: self-start;
    &:hover{
        background-color: $secundary_color;
        Color: $primary_color
    }
    .card_footer{
        padding-top: 10px;
    }
}


@media screen and (max-width:600px){
    .card{
        width: 100%;
    }
}
img{
    max-width: 100%;
    // @include shadow(5px, 5px, rgb(169, 159, 159))
  }